Source: 3dcoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@3dcoin.io>
Uploaders: Holger Schinzel <holger@3dcoin.io>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.3dcoin.io/
Vcs-Git: git://github.com/BlockchainTechLLC/3dcoin.git
Vcs-Browser: https://github.com/BlockchainTechLLC/3dcoin

Package: 3dcoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 3DCoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. 3DCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. 3DCoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, 3dcoind, and the CLI tool
 3dcoin-cli to interact with the daemon.

Package: 3dcoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 3DCoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. 3DCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. 3DCoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides 3DCoin-Qt, a GUI for 3DCoin based on Qt.

Package: 3dcoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 3DCoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. 3DCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. 3DCoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides 3dcoin-tx, a command-line transaction creation
 tool which can be used without a 3dcoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
